[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "publicstatic"]
	path = publicstatic
	url = https://github.com/Alzaabi2/samplepost.github.io
	branch = main
